<!doctype html>

<script>
function stats() {
        var url = document.getElementById('url').value;
        if (!url) {
                alert('Hostname must not be empty');
                return false;
        }
        var days = document.getElementById('days').value * 1;
        if (days > 90) {
                alert('Allow only up to 90 days of analysis');
                return false;
        }
        var e = document.getElementById('stats');
        e.action = '{{ stats_url }}'.replace('URL', url);
        e.submit();
}
</script>

<h1>Nightscout History Statistics generator</h1>
<p>
        <label for="url">Hostname (without https://)</label>
        <input type="text" name="url" size="80" id="url">
</p>
<form id="stats">
        <p>
        <label for="days">Days of history to analyze</label>
        <input type="text" name="days" value="7" size="5" id="days">
        </p>
        <p>
        <input type="button" onclick="stats(); return false;" value="Get stats">
        </p>
</form>

<h3>Privacy Policy</h3>
<ul>
        <li>Data is fetched from the provided host and processed in a German data center to produce the results
        <li>No data is permanently collected or stored
        <li>Data may be cached for performance or debugging reasons for a limited amount of time (less than a day)
        <li>Access to the data is limited to the operators of this service (see Imprint below)
        <li>No personal data is collected
        <li>The data is not being sold or provided to 3rd parties
        <li>No cookies are used
</ul>

<h3>Misc</h3>
<p>Questions? Problems? Email jdi@l4x.org</p>
<p><a href="https://www.trixing.net">Imprint</a></p>
