<!doctype html>

<script>
function stats() {
        var url = document.getElementById('url').value;
        if (!url) {
                alert('Hostname must not be empty');
                return false;
        }
        var days = document.getElementById('days').value * 1;
        if (days > 90) {
                alert('Allow only up to 90 days of analysis');
                return false;
        }
        var e = document.getElementById('stats');
        e.action = '{{ stats_url }}'.replace('URL', url);
        e.submit();
}
</script>

<h1>Nightscout History Statistics generator</h1>
<p>
        <label for="url">Hostname (without https://)</label>
        <input type="text" name="url" size="80" id="url">
</p>
<form id="stats">
        <p>
        <label for="url">Token (if necessary)</label>
        <input type="text" name="token" size="80" id="token">
        </p>
        <p>
        <label for="days">Days of history to analyze</label>
        <input type="text" name="days" value="7" size="5" id="days">
        </p>
        <p>
        <input type="button" onclick="stats(); return false;" value="Get stats">
        </p>
</form>

<h3>Normalized Data</h3>
<p>
You can use {{ all_url }} to get all Nightscout data in a normalized timeline,
ready to be used by e.g. matplotlib or other tools.

In colab try:
<pre>
nightscout_host = "sample.host.trixing.net" #@param {type:"string"}

import matplotlib.pyplot as plt
import requests

data = requests.get('https://nshistory.trixing.net/' + nightscout_host + '/all.json?days=7').json()
dates = [x['date'] for x in data['daily']]
insulin = [x['insulin'] for x in data['daily']]
plt.plot(dates, insulin, 'o')
# or
data = requests.get('https://nshistory.trixing.net/' + nightscout_host + '/all.json?days=1').json()
timeline = data['all']['timeline']
glucose = data['all']['glucose']
plt.plot(timeline, glucose)
</pre>
</p>

<h3>Known Issues</h3>
<ul>
        <li>Timezone logic is wonky
        <li>No support for past time periods
</ul>

<h3>Source Code</h3>
<p><a href="https://github.com/trixing/nightscout_tools">https://github.com/trixing/nightscout_tools</a></p>

<h3>Privacy Policy</h3>
<ul>
        <li>Data is fetched from the provided host and processed in a German data center to produce the results
        <li>No data is permanently collected or stored
        <li>Data may be cached for performance or debugging reasons for a limited amount of time (less than a day)
        <li>Access to the data is limited to the operators of this service (see Imprint below)
        <li>No personal data is collected
        <li>The data is not being sold or provided to 3rd parties
        <li>No cookies are used
</ul>

<h3>Misc</h3>
<p>Questions? Problems? File an issue on <a href="https://github.com/trixing/nightscout_tools">Github</a></p>
<p>Provided by Jan Dittmer, jdi@l4x.org, free of charge, use at your own risk</p>
<p><a href="https://www.trixing.net">Imprint</a></p>
